<div id="search-component">
  <h4>Hero Search</h4>

  <input #searchBox id="search-box" (input)="search(searchBox.value)"/>

  <!--
        $: convention that indicates heroes$ is an Observable, not an array

        Problem: *ngFor can't do anything with an Observable -> use AsyncPipe

        async: identifies Angular's AsyncPipe, which subscribes to an Observable
               automatically so you won't have to do so in the component class

   -->
  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
