<!------------------------------------------------------------------------------------>
<h2>Two way Data Binding with [(ngModel)]</h2>

<!-- uppercase: activates the built-in UppercasePipe (CommonModule) -->
<div>{{hero.name | uppercase}} Details</div>

<!-- [(ngModel)]: two way binding between the <input> form element and the hero.name property -->
<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div>

<!------------------------------------------------------------------------------------>
<h2>List heroes with *ngFor</h2>

<!-- *ngFor directive repeats the host element (<li>) for each item in a list
     (click): event binding
     [class.selected]: class binding, when the current row hero is the same as the
                       selectedHero, Angular adds the selected CSS class. When the two
                       heroes are different, Angular removes the class-->
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!-- [hero]: property binding, bind HeroesComponent.selectedHero
             to HeroDetailComponent.hero (@Input) -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
